
@font-face {
  font-family: 'Dana';
  src: url('/fonts/dana/Dana-FaNum-Thin.woff2') format('woff2'),
  url('/fonts/dana/Dana-FaNum-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Dana';
  src: url('/fonts/dana/Dana-FaNum-ExtraLight.woff2') format('woff2'),
  url('/fonts/dana/Dana-FaNum-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Dana';
  src: url('/fonts/dana/Dana-FaNum-Light.woff2') format('woff2'),
  url('/fonts/dana/Dana-FaNum-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Dana';
  src: url('/fonts/dana/Dana-FaNum-Regular.woff2') format('woff2'),
  url('/fonts/dana/Dana-FaNum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Dana';
  src: url('/fonts/dana/Dana-FaNum-Bold.woff2') format('woff2'),
  url('/fonts/dana/Dana-FaNum-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Dana';
  src: url('/fonts/dana/Dana-FaNum-Medium.woff2') format('woff2'),
  url('/fonts/dana/Dana-FaNum-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dana';
  src: url('/fonts/dana/Dana-FaNum-DemiBold.woff2') format('woff2'),
  url('/fonts/dana/Dana-FaNum-DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Dana';
  src: url('/fonts/dana/Dana-FaNum-UltraBold.woff2') format('woff2'),
  url('/fonts/dana/Dana-FaNum-UltraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Dana';
  src: url('/fonts/dana/Dana-FaNum-Black.woff2') format('woff2'),
  url('/fonts/dana/Dana-FaNum-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


