.form-group {
  position: relative;
  &.light-input {
    label {
      background: $light;
    }
    input, select, textarea {
      background-color: $light;
    }
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  label {
    position: absolute;
    background: white;
    right: 10px;
    top: -10px;
    padding: 0 0.5rem;
    font-size: 0.8rem;
    color: $dark;
  }
  input, select {
    height: 48px;
  }
}
